/*#region CSS Reset*/
/* 
    CSS Reset by MeyerWeb
    http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*#endregion*/

:root {
    --gray-bg-color: rgb(247, 248, 248);
}

/*#region Navbar*/
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    height: 48px;
    width: 100%;
    background: #F7F8F8;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.navbar .nav__logo svg {
    padding-left: 1rem;
    height: 16px;
}

.navbar ul li {
    display: inline-block;
    padding: 0px 5px;
}

.navbar .material-icons {
    padding-right: 1rem;
}
/*#endregion*/

/*#region Hero */
.hero {
    height: 877px;
    width: 100%;
    background:#fff;
}
.hero .hero-head {
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 1%;
    display: flex;
    justify-content: space-between;
    font-size: 30px;
}

.hero .hero-logo {
    height: 49px;
}

.hero .hero-grid {
    margin-top: 7rem;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    width: 1440px;
    height: 632px;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 10px;
}

.hero .hero-grid .hero-story-1{
    background: chartreuse;
    grid-column: 1 / 5;
    grid-row: 1 / 4;
}

.hero .hero-grid .hero-story-2{
    background: red;
    grid-column: 1 / 5;
    grid-row: 4 / 6;
}

.hero .hero-grid .hero-story-3{
    background: blue;
    grid-column: 5 / 7;
    grid-row: 1 / span 2;
}

.hero .hero-grid .hero-story-4{
    background: blueviolet;
    grid-column: 7 / span 2;
    grid-row: 1/ span 2;
    
}

.hero .hero-grid .hero-story-5{
    background: orange;
    grid-column: 5 / span 4;
    grid-row: span 3;
}



/*#endregion*/

/*#region Pop Articles*/
.pop-articles {
    height: 232px;
    width: 100%;
    background: var(--gray-bg-color);
    padding: 64px 0;
}


.pop-articles h1 {
    text-align: center;
    font-weight: 800;
    font-size: 25px;
}

.pop-articles h1 {
    text-align: center;
    font-weight: 800;
    font-size: 25px;

}

.pop-articles ul  {
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
    width: 945px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    column-gap: 10px;
}

.pop-articles ul li {
    display: block;
}

.pop-articles ul li h2 {
    font-size: 30px;
    float: left;
    margin-right: 10px;
    height: 100%;
}

.pop-articles ul li p {
    font-size: 20px;
}
/*#endregion*/

.latest-stories {
    height: 781px;
    width: 100%;
    background: cyan;
    padding: 112px 0;
}

.explore-channels {
    height: 369px;
    width: 100%;
    background: var(--gray-bg-color);
    padding: 112px 0;
}

.newsletter {
    height: 360px;
    width: 100%;
    background:rgb(13, 175, 99);
}

.youtube {
    height: 792px;
    width: 100%;
    background:var(--gray-bg-color);
    padding: 112px 0;
}

.careers {
    height: 608px;
    width: 100%;
    background:burlywood;
}

.footer {
    height: 485px;
    width: 100%;
    background: black;
}

@media only screen and (max-width: 1023px){
    .navbar {
        background: pink;
        height: 56px;
    }

    .hero {
        height: fit-content;
        margin-bottom: 8%;
    }

    .hero .hero-logo {
        height: 32px;
    }

    .hero .hero-head {
        flex-direction: column;

        margin-top: 10%;
     
        display: flex;
        row-gap: 15px;
        align-items: center;
        font-size: 30px;

    }

    .hero .hero-grid {
        margin-top: 1rem;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        width: 640px;
        height: 824px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-gap: 10px;
    }

    .hero .hero-grid .hero-story-1{
        grid-column: 1 / span 2;
        grid-row: 1 / span 2;
    }
    
    .hero .hero-grid .hero-story-2{
        grid-column: 1 / span 1;
        grid-row: 3 / 4;
    }
    
    .hero .hero-grid .hero-story-3{
        grid-column: 2 / span 1;
        grid-row: 3 / 4;
    }
    
    .hero .hero-grid .hero-story-4{
        grid-column: 1 / span 1;
        grid-row: 4 / 5;
    }
    
    .hero .hero-grid .hero-story-5{
        grid-column: 2 / span 1;
        grid-row: 4 / 5;
    }

    .pop-articles {
        height: fit-content;
    }

    .pop-articles ul  {
        margin-top: 2rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
        row-gap: 30px;
    }



    
}

@media only screen and (max-width: 767px){
    .navbar {
        background: yellow;
    }
}

@media only screen and (max-width: 480px){
    .navbar {
        background: green;
    }
}