/*#region CSS Reset*/
/* 
    CSS Reset by MeyerWeb
    http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*#endregion*/

:root {
    --gray-bg-color: rgb(247, 248, 248);
}


.navbar {
    height: 48px;
    width: 100%;
    background: blue;
}

.hero {
    height: 877px;
    width: 100%;
    background:coral;
}

.pop-articles {
    height: 232px;
    width: 100%;
    background: var(--gray-bg-color);
    padding: 64px 0;
}

.latest-stories {
    height: 781px;
    width: 100%;
    background: cyan;
    padding: 112px 0;
}

.explore-channels {
    height: 369px;
    width: 100%;
    background: var(--gray-bg-color);
    padding: 112px 0;
}

.newsletter {
    height: 360px;
    width: 100%;
    background:rgb(13, 175, 99);
}

.youtube {
    height: 792px;
    width: 100%;
    background:var(--gray-bg-color);
    padding: 112px 0;
}

.careers {
    height: 608px;
    width: 100%;
    background:burlywood;
}

.footer {
    height: 485px;
    width: 100%;
    background: black;
}